

<main>
    {{!-- foumulario --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                
                    <input type="text" name="nome" class="form-control" placeholder="Nome">
                    <input type="email" name = "email" class="form-control" placeholder="Email">
                    <input type="number" name = "telefone" class="form-control"  placeholder="Idade">
                     <input type="text" name="afinidade" class="form-control" placeholder="Afinidade">
                     <input type="file" name = "imagem" class="form-control" >
                    <input type="submit" class="btn btn-primary" value="Cadastrar"> 

                </form>
            </div>        
        </div>       
    </div>
    {{!-- Listagem de Clientes --}}

<div class="container">
    <div class="row">
    {{#each clientes}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src="../imagens/{{imagem}}" class="card-img-top" alt="..."> 
                <div class="textos">     
                    <p>Nome: {{nome}}</p>
                    <p>Email: {{email}}</p>
                    <p>Telefone: {{telefone}}</p>
                    <p>Afinidade: {{afinidade}}</p>
                </div> 
                    <a href="/formularioEditar/{{id}}" class="btn btn-warning">Alterar</a>
                    <a href="/remover/{{id}}&{{imagem}}" class="btn btn-danger">Remover</a>
             </div>
        </div>
        {{/each}}
    </div>
</div>
</main>