<main>
    {{!-- formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/editar" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
                    <img src="../imagens/{{cliente.imagem}}">
                    <input type="hidden" name="nomeImagem" value="{{cliente.imagem}}">
                    <input type="hidden" name="id" value="{{cliente.id}}">
                    <input type="text" name="nome" value="{{cliente.nome}}" class="form-control" placeholder="Nome" required>
                    <input type="email" name="email" value="{{cliente.email}}" class="form-control" placeholder="Email" required>
                    <input type="number" name="telefone" id="telefone" value="{{cliente.telefone}}" class="form-control" placeholder="Telefone" pattern="[0-9]{10,11}" required>
                    <input type="text" name="afinidade" value="{{cliente.afinidade}}" class="form-control" placeholder="Afinidade">
                    <input type="file" name="imagem" class="form-control">
                    <input type="submit" class="btn btn-primary" value="Alterar">
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    function validarFormulario() {
        let telefone = document.getElementById("telefone").value;
        let regexTelefone = /^[0-9]{10,11}$/; // Aceita 10 ou 11 dígitos numéricos
        
        if (!regexTelefone.test(telefone)) {
            alert("Número de telefone inválido! Insira 10 ou 11 dígitos numéricos.");
            return false;
        }
        
        return true;
    }
</script>
