<main>

    {{!-- Formulário --}}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/editar" method="post" enctype="multipart/form-data">
                    
                    <img src="../imagens/{{cliente.imagem}}">

                    <input type="hidden" name="nomeImagem" value="{{cliemte.imagem}}">
                    <input type="hidden" name="id" value="{{cliente.id}}">
                    <input type="text"   name="nome"   value="{{cliente.nome}}" class="form-control" placeholder="Nome">
                    <input type="text" name= "email"  value="{{cliente.valor}}" class="form-control" placeholder="E-mail">
                    <input type="file"   name="imagem" class="form-control" >
                    <input type="submit" class="btn btn-primary" value="Alterar">
                    <a href="/" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</main>